<p>List of keys/values</p>
<table>
    <tr>
        <td>TOMCAT_LDAP_LOGIN</td>
        <td>{{ TOMCAT_LDAP_LOGIN }}</td>
    </tr>
    <tr>
        <td>TOMCAT_LDAP_PASSWORD</td>
        <td>{{ TOMCAT_LDAP_PASSWORD }}</td>
    </tr>
    <tr>
        <td>TOMCAT_LDAP_URL</td>
        <td>{{ TOMCAT_LDAP_URL }}</td>
    </tr>
    <tr>
        <td>dev-stack-service-module.smtp-host</td>
        <td>{{ dev_stack_service_module_smtp_host }}</td>
    </tr>
    <tr>
        <td>dev-stack-service-module.environment-type</td>
        <td>{{ dev_stack_service_module_environment_type }}</td>
    </tr>
    <tr>
        <td>dev-stack-service-module.environment-site</td>
        <td>{{ dev_stack_service_module_environment_site }}</td>
    </tr>
    <tr>
        <td>dev-stack-service-module.portalFrontendUrl</td>
        <td>{{ dev_stack_service_module_portalFrontendUrl }}</td>
    </tr>
    <tr>
        <td>resource.security.driverProperties.url</td>
        <td>{{ resource_security_driverProperties_url }}</td>
    </tr>
    <tr>
        <td>resource.lunar_central.driverProperties.url</td>
        <td>{{ resource_lunar_central_driverProperties_url }}</td>
    </tr>
    <tr>
        <td>resource.swingmgr.driverProperties.url</td>
        <td>{{ resource_swingmgr_driverProperties_url }}</td>
    </tr>
    <tr>
        <td>resource.dev_stack.driverProperties.url</td>
        <td>{{ resource_dev_stack_driverProperties_url }}</td>
    </tr>
</table>
